absl-py==2.3.1
Augmentor==0.2.9
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
colorama==0.4.6
cryptography==46.0.5
cycler==0.12.1
fonttools==4.60.2
future==1.0.0
google-auth==2.49.1
google-auth-oauthlib==0.4.6
grpcio==1.78.0
idna==3.11
importlib_metadata==8.7.1
joblib==1.5.3
kiwisolver==1.4.7
Markdown==3.9
MarkupSafe==3.0.3
matplotlib==3.5.2
numpy==1.22.0
oauthlib==3.3.1
opencv-python==4.6.0.66
packaging==26.0
pandas==1.4.3
pillow==11.3.0
protobuf==3.19.6
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.1.post1
requests==2.32.5
requests-oauthlib==2.0.0
scikit-learn==1.1.1
scipy==1.8.1
six==1.17.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.6.0
timm==0.5.4
torch==1.12.1
torchvision==0.13.1
tqdm==4.66.1
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.6
zipp==3.23.0

#conda activate base
#pip install torch==1.12.1+cu113 torchvision==0.13.1+cu113 -f https://download.pytorch.org/whl/torch_stable.html
#pip install -r requirements.txt
